services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8002:8002"
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
      - CLOUDFLARE_ACCOUNT_ID=${CLOUDFLARE_ACCOUNT_ID}
      - NODE_ENV=production
    volumes:
      - ./sdb_users.db:/app/sdb_users.db
      - ./app/data:/app/app/data
    restart: always
