{
  "openapi": "3.0.0",
  "info": {
    "title": "Cloudflare Learned Schema for scg.com",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://scg.com"
    }
  ],
  "components": {},
  "paths": {
    "/gallery": {
      "get": {
        "responses": {
          "default": {
            "description": "A response"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Insufficient requests with this parameter have been observed during the schema generation process. An empty placeholder schema is returned instead.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "x-cf-parameter-schemas": "operation schema with automatically learned path and query parameters",
        "operationId": "26b33c5b-5553-45d7-be39-d7c7f31a028b"
      },
      "head": {
        "responses": {
          "default": {
            "description": "A response"
          }
        },
        "x-cf-operation-id": "9d2f02fd-e5f8-469e-a27e-6e6bc49cfede",
        "operationId": "9d2f02fd-e5f8-469e-a27e-6e6bc49cfede"
      }
    },
    "/": {
      "get": {
        "responses": {
          "default": {
            "description": "A response"
          }
        },
        "x-cf-operation-id": "03f89076-5ea1-4c2c-b6c9-bcbc73e6286b",
        "operationId": "03f89076-5ea1-4c2c-b6c9-bcbc73e6286b"
      },
      "post": {
        "responses": {
          "default": {
            "description": "A response"
          }
        },
        "x-cf-operation-id": "b4d5f56e-ad51-4a6a-84aa-1e54c0265df6",
        "operationId": "b4d5f56e-ad51-4a6a-84aa-1e54c0265df6"
      },
      "options": {
        "responses": {
          "default": {
            "description": "A response"
          }
        },
        "x-cf-operation-id": "25309222-231c-4d48-b740-995f4544eb6b",
        "operationId": "25309222-231c-4d48-b740-995f4544eb6b"
      },
      "head": {
        "responses": {
          "default": {
            "description": "A response"
          }
        },
        "x-cf-operation-id": "cdbc54d4-73b9-4cf8-ae75-79ba62c80f8c",
        "operationId": "cdbc54d4-73b9-4cf8-ae75-79ba62c80f8c"
      }
    },
    "/contact-us": {
      "get": {
        "responses": {
          "default": {
            "description": "A response"
          }
        },
        "x-cf-operation-id": "1f27bb46-0df6-4f14-a372-528a02d38d4d",
        "operationId": "1f27bb46-0df6-4f14-a372-528a02d38d4d"
      }
    },
    "/about-scg/executives-and-board-of-directors/detail/prasarn-trairatvorakul": {
      "get": {
        "responses": {
          "default": {
            "description": "A response"
          }
        },
        "x-cf-operation-id": "6c722b21-4dab-4986-ac43-6b5c337b0606",
        "operationId": "6c722b21-4dab-4986-ac43-6b5c337b0606"
      }
    },
    "/privacy-notice/privacy-shareholders": {
      "get": {
        "responses": {
          "default": {
            "description": "A response"
          }
        },
        "x-cf-operation-id": "7ea790d1-866c-4096-aec9-bfcaf892961b",
        "operationId": "7ea790d1-866c-4096-aec9-bfcaf892961b"
      }
    },
    "/search-result": {
      "get": {
        "responses": {
          "default": {
            "description": "A response"
          }
        },
        "parameters": [
          {
            "name": "l",
            "in": "query",
            "description": "Insufficient requests with this parameter have been observed during the schema generation process. An empty placeholder schema is returned instead.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "p",
            "in": "query",
            "description": "Insufficient requests with this parameter have been observed during the schema generation process. An empty placeholder schema is returned instead.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Insufficient requests with this parameter have been observed during the schema generation process. An empty placeholder schema is returned instead.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "x-cf-parameter-schemas": "operation schema with automatically learned path and query parameters",
        "operationId": "e10ac3b5-52e5-49aa-8783-d4ce15247358"
      }
    },
    "/about-scg/executives-and-board-of-directors": {
      "get": {
        "responses": {
          "default": {
            "description": "A response"
          }
        },
        "x-cf-operation-id": "694ac28c-6791-44a3-a8ad-6ff7ddad31ec",
        "operationId": "694ac28c-6791-44a3-a8ad-6ff7ddad31ec"
      }
    }
  }
}